table { border-collapse: collapse; }
thead, tbody{
    border: 1px solid grey;
}
th, td{
    padding: 10px;
    position: relative;
}
thead tr{
    border-bottom: 2px solid;
}
thead tr th:not(:last-child), tbody tr td:not(:last-child){
    border-right: 1px solid grey;
}
tbody tr:nth-child(odd){
    background-color: #e6e6e6;
}   
.link{
    color: #e65b0a;
    text-decoration: none;
}
.header-value{
    padding-right: 10px;
}
.sort-by-before,
.sort-by-after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
.sort-by-before {
	border-bottom-color: #e65b0a;
	margin-top: -9px;
}
.sort-by-after {
	border-top-color: #e65b0a;
	margin-top: 1px;
}
text{
    font-size: 14px;
}